body {
  margin: 50px 80px 20px;
}

.column {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
  column-gap: 40px;
}

img {
  width: 259px;
}

.pink {
  color: #BA55D3;
}

.bunnies {
  color: #008B8B;
}

h1 {
  color: #4B0082;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

h2 {

}

h3 {
  color: #7B68EE;
  font-style: italic;
}
